@model Entities.AlumnoInscripcion

@{
    ViewBag.Title = "Delete";
}
<br />
<h2>Borrar inscripcionS</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.CursoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.CursoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Borrar
            </button> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
