@model Entities.Comision

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Comision</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnioEspecialidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnioEspecialidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnioEspecialidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- DropDownList Especialidad-->
        <div class="form-group">
            <p class="control-label col-md-2">Especialidad</p>
            <div class="col-md-10">
                @Html.DropDownList("Especialidad", new SelectList(ViewBag.Especialidades, "EspecialidadId", "Descripcion"),
                     htmlAttributes: new { @class = "form-control" , @id = "ddlespecialidad", @onchange = "javascript:GetPlanes(this.value);" })
            </div>
        </div>

        <!-- DropDownList plan-->
        <div class="form-group">

            @Html.LabelFor(model => model.PlanID, "Plan", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("PlanId", new SelectList(Enumerable.Empty<SelectListItem>(), "PlanID", "Descripcion"), htmlAttributes: new { @class = "form-control", @id = "ddlplanes" })
                @Html.ValidationMessageFor(model => model.PlanID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <!-- Script para invocar metodo de controlador que modifica el dropdownlist de planes-->
    <script language="javascript" type="text/javascript">
    function GetPlanes(_especialidadid) {
        var procemessage = "<option value='0'> Buscando...</option>";
        $("#ddlplanes").html(procemessage).show();
        var url = "/Plan/GetPlanesByEspecialidad/";

        $.ajax({
            url: url,
            data: { especialidadid: _especialidadid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Seleccionar plan</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlplanes").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    </script>
}
