@model Entities.Comision

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioEspecialidad)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComisionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
