@model Entities.DocenteCurso

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalle docente del curso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.CursoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.CursoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaID)
        </dd>


    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "DocenteCurso", new { id = Model.DocenteCursoID })" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
    </a>
    |
    @Html.ActionLink("Volver", "Index")
</p>
