@model IEnumerable<Entities.DocenteCurso>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "DocenteCurso")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nuevo
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.CursoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.CursoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonaID)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.DocenteCursoID }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.DocenteCursoID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.DocenteCursoID })
        </td>
    </tr>
}

</table>
