@model IEnumerable<Entities.AlumnoInscripcion>

@{
    ViewBag.Title = "EstadoAcademico";
}
<br>
<h2>Estado Academico</h2>

<table class="table table-hover table-striped table-bordered" style="text-align: center;">
    <thead>
        <tr>
            <th class="col-lg-1">Nivel</th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Curso.Materia.Descripcion)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Condicion)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th class="col-md-1">Comision</th>
            <th class="col-md-1">Año Academico</th>
            <th class="col-md-1">Plan</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Comision.AnioEspecialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Materia.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condicion)
                </td>
                <td>
                    @if (item.Nota == null)
                    {
                        <span class="badge alert-info">Sin calificar</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Nota)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Comision.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.AnioCalendario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Comision.Plan.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>