@model IEnumerable<Entities.ModuloUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modulo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermiteBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermiteModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermiteAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermiteConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermiteBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermiteModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermiteAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermiteConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModuloUsuarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModuloUsuarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModuloUsuarioID })
        </td>
    </tr>
}

</table>
