@model Entities.Curso

@{
    ViewBag.Title = "Delete";
}

<br />
<h2>Borrar curso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materia.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comision.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comision.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioCalendario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioCalendario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Borrar
            </button> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
