@model Entities.Curso

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalle curso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materia.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioCalendario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioCalendario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupo)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Curso", new { id = Model.CursoID })" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
    </a>
    |
    @Html.ActionLink("Volver", "Index")
</p>
