@model IEnumerable<Entities.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Cursos</h2>

<p>
    <a href="@Url.Action("Create", "Curso")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nuevo
    </a>
</p>


@using (Html.BeginForm("Index", "Curso", FormMethod.Get))
{
    <div class="form-group">
        <div style="display: flex; flex-direction: row">
            <div style="margin: 0px 2px">
                <label>Año</label>
                @Html.TextBox("año", null, new { @class = "form-control", @placeholder = "Año" })
            </div>
            <div style="margin: 0px 2px">
                <label>Materia</label>
                <div style="display: flex; flex-direction: row">
                    @Html.TextBox("materia", null, new { @class = "form-control", @placeholder = "Materia" })
                    <button type="submit" class="btn btn-default" style="margin: 0px 4px">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materia.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioCalendario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cupo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioCalendario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cupo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CursoID }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.CursoID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CursoID })
            </td>
        </tr>
    }

</table>
