@model IEnumerable<Entities.Especialidad>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "Especialidad")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nuevo
    </a>
</p>


@using (Html.BeginForm("Index", "Especialidad", FormMethod.Get))
{
    <div class="form-group">
        <div style="display: flex; flex-direction: row">
            @Html.TextBox("descripcion", null, new { @class = "form-control", @placeholder = "Descripcion especialidad" })
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EspecialidadID }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.EspecialidadID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.EspecialidadID })
            </td>
        </tr>
    }

</table>
