@model Entities.Plan

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Detalles plan</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Usuario", new { id = Model.PlanID })" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
    </a>
     |
    @Html.ActionLink("Volver", "Index")
</p>
