@model Entities.Usuario

@{
    ViewBag.Title = "Delete";
}

<br />
<h2>Borrar usuario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CambioClave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CambioClave)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Borrar
        </button> | 
        @Html.ActionLink("Volver", "Index")
    </div>
    }
</div>
