@model Entities.Usuario

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Detalle Usuario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CambioClave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CambioClave)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Usuario", new { id = Model.UsuarioID })" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Editar
    </a>
     |
    @Html.ActionLink("Volver", "Index")
</p>
