@model IEnumerable<Entities.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<p>
    <a href="@Url.Action("Create", "usuario")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nuevo
    </a>
</p>

@using (Html.BeginForm("Index", "Usuario", FormMethod.Get))
{
<div class="form-group" >
    <div style="display: flex; flex-direction: row">
        @Html.TextBox("nombreUsuario", null, new { @class = "form-control", @placeholder = "Ingrese usuario " })
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
    </div>
</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CambioClave)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CambioClave)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.UsuarioID }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.UsuarioID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.UsuarioID })
            </td>
        </tr>
    }

</table>
