<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/popper.min.js")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="button btn btn-primary" style="margin:10px; padding: 0px 5px ;">
                    <img src="~/Images/academia-icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> Academia
                </a>
            </div>

            <ul class="navbar-collapse collapse" style="float:none;">
                <ul class="nav navbar-nav mr-auto">
                    @if (User.IsInRole("Docente"))
                    {
                        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Docente")</li>
                        <li class="nav-item">@Html.ActionLink("Mis Cursos", "MisCursos", "Docente")</li>
                        <li class="nav-item">@Html.ActionLink("Perfil", "Perfil", "Home")</li>
                    }
                    @if (User.IsInRole("No Docente"))
                    {
                        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home")</li>

                        <li class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sistema
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action( "Index", "Usuario")">Usuarios</a></li>
                                <li><a class="dropdown-item" href="@Url.Action( "Index", "Persona")">Personas</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Institucional
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action( "Index", "Curso")">Cursos</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Comision")">Comisiones</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Especialidad")">Especialidades</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Plan")">Planes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Materia")">Materias</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">@Html.ActionLink("Perfil", "Perfil", "Home")</li>
                    }
                    @if (User.IsInRole("Alumno"))
                    {
                        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Alumno")</li>
                        <li class="nav-item">@Html.ActionLink("Inscribirse", "Inscripcion", "Alumno")</li>
                        <li class="nav-item">@Html.ActionLink("Estado Academico", "EstadoAcademico", "Alumno")</li>
                        <li class="nav-item">@Html.ActionLink("Perfil", "Perfil", "Home")</li>
                    }
                </ul>
                <span class="navbar-right" style="padding-top: 10px">
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" class="button btn btn-warning" value="Salir">
                    }
                </span>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Academia</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
