@model IEnumerable<Entities.AlumnoInscripcion>

@{
    ViewBag.Title = "AlumnosCurso";
}
<br>
<h2>Alumnos del curso</h2>

@using (Html.BeginForm("Calificar", "Docente", FormMethod.Post)) {
<div>
    @if (ViewBag.EditMode == false) {
        @Html.ActionLink("Calificar", "MisCursos", "Docente", new { editar = true }, null)
    }
    else {
        @Html.ActionLink("Calificar", "MisCursos", "Docente", new { editar = false }, null)
    }
    <input type="submit" class="button btn btn-warning" value="Calificar">
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Legajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condicion)
            </th>
        </tr>



        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Legajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Apellido)
                </td>
                @if (ViewBag.EditMode == true) {
                    <td>
                        @Html.EditorFor(Model => item.Nota, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    Html.HiddenFor(Model => item.AlumnoInscripcionID);
                }
                else {
                    if (item.Nota == null) {
                        <td>
                            <p>--</p>
                        </td>
                    }
                    else {
                        <td>
                            @Html.DisplayFor(modelItem => item.Nota)
                        </td>
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Condicion)
                </td>
            </tr>
        }
    </table>
}
    
