@model IEnumerable<Entities.Curso>

@{
    ViewBag.Title = "Mis Cursos";
}

<br>
<h2>Mis Cursos</h2>

<!--Alerta cambios hechos correctamente-->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible show" role="alert">
        <strong>@TempData["SuccessMessage"]!</strong> Se han calificado a los alumnos correctamente.@Html.ActionLink("Volver a cursos", "MisCursos", "Docente").
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!--Alerta ha sucedido un error-->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible show" role="alert">
        <strong>@TempData["ErrorMessage"]</strong> Por favor intentelo de nuevo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table table-hover table-striped table-bordered" style="text-align: center;">
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Materia.Descripcion)
            </th>
            <th class="col-md-1">Especialidad</th>
            <th class="col-md-2">Año Calendario</th>
            <th class="col-md-1">Comsion</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision.Plan.Especialidad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioCalendario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Ver Alumnos", "AlumnosCurso", new { id = item.CursoID })
            </td>
            <td>
                @Html.ActionLink("Imprimir", "Print","Informe", new { curso = item.CursoID }, null)
            </td>
        </tr>
        }
    </tbody>
</table>
