@model IEnumerable<Entities.Curso>

    @{
        ViewBag.Title = "Mis Cursos";
    }

    <br>
    <h2>MisCursos</h2>



    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materia.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Materia.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comision.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Ver Alumnos", "MisCursos", new { id = item.CursoID })
                </td>
            </tr>
        }
    </table>
