@model IEnumerable<Entities.Curso>

@{
    ViewBag.Title = "Mis Cursos";
}

<br>
<h2>Mis Cursos</h2>

<table class="table table-hover table-striped table-bordered" style="text-align: center;">
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Materia.Descripcion)
            </th>
            <th class="col-md-1">Especialidad</th>
            <th class="col-md-2">Año Calendario</th>
            <th class="col-md-1">Comsion</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision.Plan.Especialidad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioCalendario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Ver Alumnos", "AlumnosCurso", new { id = item.CursoID })
            </td>
        </tr>
        }
    </tbody>
</table>
